@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/mixins';

// colors from blog
$primary-color: #214f4b;
$secondary-color: #16c172;
$pink-color: #bd38b2;
$third-color: #09e85e;
$yellow: #fed766;
$gray: #272727;
$blue: #009fb7;

html {
  scroll-behavior: smooth;
}
.flex-container-center {
  @apply flex items-center justify-between;
}

#intro,
#about,
#projects {
  @apply min-h-screen my-8 py-8 px-4 justify-center flex items-center;
}

.code span {
  -webkit-text-stroke: 6px red; /* width and color */
  border-radius: 3px;
  text-shadow: 1px 1px 10px black;
}

.progress-bar {
  @apply fixed top-[44px] left-0 right-0 h-1 origin-[0%] bg-gradient-to-r from-violet-500 to-fuchsia-500;
}

/* swiper */
.swiper {
  width: 100vw;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
  @include laptop() {
    flex-direction: column;
  }

  button {
    @include transparentBtn();
  }
}

h2 {
  @apply text-4xl font-bold mt-4 mb-4;
}

h3 {
  @apply text-3xl font-bold mt-6 mb-2;
}

.main-header {
  background: -webkit-linear-gradient(45deg, #348f50, #56b4d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// bg-gradient-to-r from-cyan-500 to-blue-500;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.perspective-right {
  transform: perspective(1500px) rotateY(-15deg);
  transition: transform 1s ease 0s;
}
.perspective-right:hover {
  transform: perspective(3000px) rotateY(-5deg);
  // box-shadow: none;
  // transition: all 0.3s ease-out 0s;
  // transition-delay: 0.2s;
}
